<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Download</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="            ">
                     <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Grayscale</h2>
            <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>행사정q</h2>
                <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
            </div>
        </div>
    </div>
</section>
          <article id="slider">
            <div>
            	<p>
            		<span>Elegant Responsive Pure CSS3 Slider</span>
            	</p>
            </div>
            <input checked type='radio' name='slider' id='slide1'/>
            <input type='radio' name='slider' id='slide2'/>
            <input type='radio' name='slider' id='slide3'/>
            <input type='radio' name='slider' id='slide4'/>
            <input type='radio' name='slider' id='slide5'/>
            <div id="slides">
            	<div id="container">
            		<div class="inner">
            			<article>
            			<img src="<%= image_url 'blind_date.jpg'%>"/>
            			</article>
            			<article>
            			<div class='caption'>
            				<bar>A Bubble on Flower</bar>
            			</div>
            			<img src="<%= image_url 'show_sing.jpg'%>"/>
            			</article>
            			<article>
            			<div class='caption'>
            				<bar>A Small Elephant <a href="#">read more</a></bar>
            			</div>
            			<img src="<%= image_url 'ebichu.jpg'%>"/>
            			</article>
            			<article>
            			<div class='caption'>
            				<bar>A Yellow Flower <a href="#">read more</a></bar>
            			</div>
            			<img src="http://0.s3.envato.com/files/84450220/img/Dummy3-942X400.jpg"/>
            			</article>
            			<article>
            			<div class='caption'>
            				<bar>A Pink Flower</bar>
            			</div>
            			<img src="http://0.s3.envato.com/files/84450220/img/Dummy4-942X400.jpg"/>
            			</article>
            		</div>
            	</div>
            </div>
            <div id="commands">
            	<label for='slide1'></label>
            	<label for='slide2'></label>
            	<label for='slide3'></label>
            	<label for='slide4'></label>
            	<label for='slide5'></label>
            </div>
            <div id="active">
            	<label for='slide1'></label>
            	<label for='slide2'></label>
            	<label for='slide3'></label>
            	<label for='slide4'></label>
            	<label for='slide5'></label>
            </div>
            </article>
<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Map Section -->
<div id="map"></div>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Your Website 2014</p>
    </div>
</footer>
