@font-face{font-family:'SDMiSaeng'; src: font-url('fonts/SDMiSaeng.ttf')}
@font-face{font-family:'SDMiSaeng'; src: font-url('fonts/SDMiSaeng.woff')}
@font-face{font-family:'SDMiSaeng'; src: font-url('fonts/SDMiSaeng.eot')}
 
body, table, div, p, a {font-family:'SDMiSaeng';}