@font-face{font-family:'SDMiSaeng'; src: font-url('SDMiSaeng.ttf')}
@font-face{font-family:'SDMiSaeng'; src: font-url('SDMiSaeng.woff')}
@font-face{font-family:'SDMiSaeng'; src: font-url('SDMiSaeng.eot')}
 
body, table, div, p {font-family:'SDMiSaeng';}